[submodule "mbg-BTCenturion-ios"]
	path = mbg-BTCenturion-ios
	url = https://github.com/Logitech/mbg-BTCenturion-ios.git
[submodule "mbg-content-manager-ios"]
	path = mbg-content-manager-ios
	url = https://github.com/Logitech/mbg-content-manager-ios.git
